

* {
  margin: 0;
  padding: 0;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
.right {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  background-color: rgb(3, 3, 54);
  color: aliceblue;
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(9, 97, 173);
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
}
.left{
  font-size: 1.5rem;
  padding: 0;
  margin-left: 30px;
}


.right ul {
  display: flex;

  justify-content: center;
  align-items: center;
}

.right ul li {
  list-style: none;
  margin: 0 20px;
}

.right ul li a {
  text-decoration: none;
  color: white;
}

.right ul li a:hover {
  text-decoration: none;
  color: rgb(122, 196, 232);
  font-size: 1.01rem;
}

.glow-on-hover {
  width: 150px;
  height: 40px;
  border: 1px solid white;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}




.firstsection {
  display: flex;
  align-items: center;
  justify-content:space-around;
 
  
}



.leftsection {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.8rem;
  width: 50%;
}

.span {
  color: blueviolet;
  font-size: 3.75rem;
}

#element {
  color: rgb(178, 122, 232);
  font-size: 3rem;
}

.rightsection  {
  width: 50%;
}
.rightsection img{
  width:90% ;
}



hr {
  border: 0;
  background: darkcyan;
  height: 1px;
  margin: 40px 90px;
}

.aboutme {
  height: fit-content;
  margin: 100px;
  

}

.am1 {
  display: inline;
}

.am1 h1 {
  text-decoration: underline;
    margin: 15px;
    font-size: 2.3rem;
}

.am1 h4 {
  font-size: 2rem;
  margin: 4px 0;
}

.am1 p {
  font-size: 1.5rem;
}

.edu {
  margin:40px;
}

.edu h2 {
  margin: 40px 0 20px 0;
  text-decoration: underline;
}
.edu .gap{
  margin: 10px 0 10px 0;
}

.flx {
  display: flex;
  justify-content: space-around;
}

.skills {
  margin: 40px;
}

.skills h2 {
  
  margin: 40px 0 20px 0;
  text-decoration:underline;
}

.skills h5 {
  margin: 8px;
  font-size: 1.4rem;
}

.java {
  background: -webkit-linear-gradient(#f89820, #5382a1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.fe {
  background: -webkit-linear-gradient(rgb(251, 77, 3), rgb(111, 111, 233));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.js {
  background: -webkit-linear-gradient(rgb(210, 251, 3), rgb(206, 236, 13));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.tw {
  background: -webkit-linear-gradient(rgb(6, 182, 212), rgb(165,243,252));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.rjs {
  background: -webkit-linear-gradient(rgb(97, 219, 251), rgb(97, 219, 251));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.sql {
  background: -webkit-linear-gradient(#00758F, #F29111);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.git {
  background: -webkit-linear-gradient(#F1502F, rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.linux {
  background: -webkit-linear-gradient(rgb(22, 143, 9), rgb(10, 245, 10));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.skills img {
  height: 30px;
}

.skills span {
  display: flex;
}



.foot {
  width: 100%;
  background-color: #090828;
  height:fit-content;  
  overflow: hidden;
  display:flex;
  justify-content: space-around;
}


.fstfoot span {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.fstfoot img {
  height: 30px;
  margin-right: 5px;
}

.fstfoot span a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}


.fstfoot{
  margin: 20px;
  
}
.sndfoot {
  margin: 10px;
  font-size: 20px;
}

.trdfoot {
  margin: 15px;
 
}

.trdfoot h2 {
  margin: 5px 0;
}

.port {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}
.projects{
  width: 40%;
  font-size: larger;
}

.projects h2 {
  margin: 5px 0;
  text-decoration: underline;
}

.projects span {
  padding: 9px;
}
.ance{
  text-decoration: none;
  color: white;
}

.certi{
  width: 40%;
    font-size: large;
}
.certi span {
  padding: 9px;
  
}
.certi h2 {
  text-decoration: underline;
}

.btn {
  margin-left: 5px;
  padding: 5px;
  text-align: center;
  font-size: 7px;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);

  border-radius: 6px;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  :hover {
      box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
      transform: translateY(-2px);
  }
  :active{
      box-shadow: inset 0px 3px 7px #3c4fe0;
      transform: translateY(2px);
  }
  
}
@media screen and (max-width:768px) {
  
  .left {
    margin: 0;
}
  .right ul {
    display: none;
    position: absolute;
    height: 300px;
      font-size: 2rem;
      z-index: 1;
    justify-content:space-evenly ;
    top: 70px;
    left: 0;
    right: 0;
    background-color: rgb(9, 97, 173);
    flex-direction: column;
    text-align: center;

    
  }
  
  .menu-icon {
    display: flex;
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
  }
  .navbar {
    justify-content: space-around;
    position: relative;
  }

  .navbar.active .menu {
    display: flex;
  }
  .firstsection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
  }
  .leftsection{
    width: fit-content;
  }
  .rightsection  {
    display:none;
  }
  .aboutme{
    margin: 20px;
  }
  .am1 p {
    font-size: 20px;
}
  .flx {
    flex-direction: column;
  }
  .edu{
    margin: 0;
  }
  .skills{
    margin: 0;
  }
  .port{
    flex-direction: column;
  }
  .projects{
    margin: 0;
    width: fit-content;
  }
  .certi{
    width: fit-content;
    margin: 0;
  }
  .foot{
    display: flex;
    flex-direction: column;
  }
  
  .trdfoot {
    margin: 15px;
    float: left;
    width: 90%;
}

}
